<div class="jumbotron jumbotron-fluid">
  <div class="container">
            <div class="row text-center">

    <h1 class="display-4">About Me</h1>
    </div>
</div>
   <body style="background-color:white;">

<div style=" display: flex;justify-content: center;align-items: center;">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" height="200" src="/Assets/images/Tesmin.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Who Am I</h5>
    <p class="card-text">I'm Tesmine Poulose, currently pursuing Health informatics fast-track program and I’m interested in developing software.</p>
    <a href="#" class="btn btn-primary">Go Resume</a>
  </div>
</div>

</div>


